body {
  font-family: "Bangers", cursive;
  font-size: 2em;
  width: 100%;
  /* text-align: center; */
  color: #920d60;
  background-color:#130625;
}
 
h1{
    margin: 0;
    display: inline-block;
}

p{
    display: inline-block;
}

canvas{
    position: relative;
}

#start{
    font-family: "Bangers", cursive;
    position: absolute;
    display: block;
    left: 1100px;
    top: 190px;
    width: 130px;
    height: 50px;
    font-size: 1.2em;
    color: #920d60;
    background-color: #e5c7e2;
    border-radius: 15px;
}

#unJugador{
    font-family: "Bangers", cursive;
    position: absolute;
    display: block;
    left: 1100px;
    top: 170px;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    color: #920d60;
    background-color: #e5c7e2;
    border-radius: 15px;
}

#dosJugadores{
    font-family: "Bangers", cursive;
    position: absolute;
    display: block;
    left: 1100px;
    top: 300px;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    color: #920d60;
    background-color: #e5c7e2;
    border-radius: 15px;
}
